<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReFresh</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="employer_cabinet_page">
        <div class="logo_wrapper">
            <div class="logo">
                <img src="/static/img/logo.png" alt="">
            </div>
            <div class="logout">
                <a href="/logout/{{role}}">Выйти</a>
            </div>
        </div>
        <div class="cabinet">
            {{{body}}}
        </div>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>