<div class="test_header employer admin_header">
    <a class="back_btn">
        <img src="/static/img/arrow_back.png" alt="">
    </a>
    <h3>Добавить админа</h3>
</div>
<form action="" class="admin_form">
    <div class="input_wrapper">
        <input type="text" placeholder="Логин">
    </div>
    <div class="input_wrapper">
        <input type="password" placeholder="Пароль">
    </div>
    <input type="submit" value="Добавить">
</form>
<div class="test_header admin_header">
    <h3>Выслать результаты на почту</h3>
</div>
<div class="all_admins_table">
    <div class="all_admins_table_row">
        <div class="input_wrapper">
            <input type="text" placeholder="Логин админа">
        </div>
        <div class="input_wrapper">
            <input type="text" placeholder="Пароль админа">
        </div>
        <div class="btns">
            <div class="each_btn">
                <p>Ред.</p>
            </div>
            <a href="" class="each_btn">
                <img src="/static/img/delete.png" alt="">
            </a>
        </div>
    </div>
    <div class="all_admins_table_row">
        <div class="input_wrapper">
            <input type="text" placeholder="Логин админа">
        </div>
        <div class="input_wrapper">
            <input type="text" placeholder="Пароль админа">
        </div>
        <div class="btns">
            <div class="each_btn">
                <p>Ред.</p>
            </div>
            <a href="" class="each_btn">
                <img src="/static/img/delete.png" alt="">
            </a>
        </div>
    </div>
    <div class="all_admins_table_row">
        <div class="input_wrapper">
            <input type="text" placeholder="Логин админа">
        </div>
        <div class="input_wrapper">
            <input type="text" placeholder="Пароль админа">
        </div>
        <div class="btns">
            <div class="each_btn">
                <p>Ред.</p>
            </div>
            <a href="" class="each_btn">
                <img src="/static/img/delete.png" alt="">
            </a>
        </div>
    </div>  
</div>