<div class="test_header employer admin_header">
    <a href="/admin" class="back_btn">
        <img src="/static/img/arrow_back.png" alt="">
    </a>
    <h3>Добавить админа</h3>
</div>
<form action="/add_admin" method="post" class="admin_form">
    <div class="input_wrapper">
        <input type="text" placeholder="Логин" name="login" required>
    </div>
    <div class="input_wrapper">
        <input type="password" placeholder="Пароль" name="pass" required>
    </div>
    <input type="submit" value="Добавить">
</form>
<div class="test_header admin_header">
    <h3>Все админы</h3>
</div>
<div class="all_admins_table">
    {{#each admins}}
        <div class="all_admins_table_row">
            <div class="input_wrapper">
                <input type="text" placeholder="Логин админа" name="login" value="{{this.login}}">
            </div>
            <div class="input_wrapper">
                <input type="text" placeholder="Пароль админа" name="pass" value="{{this.pass}}">
            </div>
            <div class="btns">
                <div class="each_btn" onclick="edit_admin_info({{this.id}}, this)">
                    <p>Ред.</p>
                </div>
                <a href="/delete_admin/{{this.id}}" class="each_btn">
                    <img src="/static/img/delete.png" alt="">
                </a>
            </div>
        </div>
    {{/each}} 
</div>