<form action="/admin_login" method="post">
    <div class="input_wrapper">
        <input type="text" placeholder="Логин" name="login" required>
    </div>
    <div class="input_wrapper">
        <input type="password" placeholder="Пароль" name="pass" required>
    </div>
    <input type="submit" value="Войти">
</form>