<div class="test_header employer admin_header all_admins">
    <a class="back_btn">
        <img src="/static/img/arrow_back.png" alt="">
    </a>
    <h3>Все работодатели</h3>
</div>
<div class="all_admins_table">
    <div class="all_admins_table_row employers_row">
        <div class="input_wrapper">
            <input type="text" placeholder="Логин админа">
        </div>
        <div class="input_wrapper">
            <input type="text" placeholder="Пароль админа">
        </div>
        <div class="btns">
            <a class="each_btn">
                <img src="/static/img/delete.png" alt="">
            </a>
        </div>
    </div>
    <div class="all_admins_table_row employers_row">
        <div class="input_wrapper">
            <input type="text" placeholder="Логин админа">
        </div>
        <div class="input_wrapper">
            <input type="text" placeholder="Пароль админа">
        </div>
        <div class="btns">
            <a class="each_btn">
                <img src="/static/img/delete.png" alt="">
            </a>
        </div>
    </div>
    <div class="all_admins_table_row employers_row">
        <div class="input_wrapper">
            <input type="text" placeholder="Логин админа">
        </div>
        <div class="input_wrapper">
            <input type="text" placeholder="Пароль админа">
        </div>
        <div class="btns">
            <a class="each_btn">
                <img src="/static/img/delete.png" alt="">
            </a>
        </div>
    </div>  
</div>