<div class="test_header employer admin_header all_admins">
    <a href="/admin" class="back_btn">
        <img src="/static/img/arrow_back.png" alt="">
    </a>
    <h3>Все работодатели</h3>
</div>
<div class="all_admins_table">
    {{#each employers}}
        <div class="all_admins_table_row employers_row">
            <div class="input_wrapper">
                <input type="text" placeholder="Имя работодателя" value="{{this.user_name}}" disabled>
            </div>
            <div class="input_wrapper">
                <input type="text" placeholder="Почта работодателя" value="{{this.email}}" disabled>
            </div>
            <div class="btns">
                <a href="/delete_employer/{{this.id}}" class="each_btn">
                    <img src="/static/img/delete.png" alt="">
                </a>
            </div>
        </div>
    {{/each}}
</div>