<form action="">
    <div class="input_wrapper">
        <input type="text" placeholder="Имя">
    </div>
    <div class="input_wrapper">
        <input type="email" placeholder="Почта">
    </div>
    <div class="input_wrapper">
        <input type="password" placeholder="Пароль">
    </div>
    <input type="submit" value="Зарегистрироваться">
    <a href="" class="under_form_mes">У меня уже есть аккаунт</a>
</form>