<div class="test_header employer">
    <a class="back_btn">
        <img src="/static/img/arrow_back.png" alt="">
    </a>
    <h3><span>Имя Человека</span> по итогам теста набрал <span>270 баллов</span> из 300</h3>
</div>
<div class="result_table employer">
    <div class="row main">
        <div class="each_td">
            <p>Стоп факторы</p>
        </div>
        <div class="each_td">
            <p>Метапрофиль</p>
        </div>
        <div class="each_td">
            <p>Предназначение</p>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
</div>

<div class="test_header">
    <h3>Выслать результаты на почту</h3>
</div>
<form action="" class="result_table">
    <div class="row main send_res">
        <div class="input_wrapper">
            <input type="text" placeholder="Поиск по имени">
        </div>
        <div class="each_td action">
            <p>Выслать</p>
        </div>
    </div>
</form>