<form action="/employer_login" method="post">
    <div class="input_wrapper">
        <input type="email" name="email" placeholder="Почта" required>
    </div>
    <div class="input_wrapper">
        <input type="password" name="pass" placeholder="Пароль" required>
    </div>
    <input type="submit" value="Войти">
    <a href="/employer_register" class="under_form_mes">У меня нет аккаунта</a>
</form>