<form action="/employer_register" method="post">
    <div class="input_wrapper">
        <input type="text" name="user_name" placeholder="Имя" required>
    </div>
    <div class="input_wrapper">
        <input type="email" name="email" placeholder="Почта" required>
    </div>
    <div class="input_wrapper">
        <input type="password" name="pass" placeholder="Пароль" required>
    </div>
    <input type="submit" value="Зарегистрироваться">
    <a href="/employer_login" class="under_form_mes">У меня уже есть аккаунт</a>
</form>