<div class="mid_result">
    <div class="test_header">
        <h3>Упс.. кажется вы были не совсем искренним, попробуйте заново.</h3>
    </div>
    <a href="/test_page">Пройти тест еще раз</a>
</div>