<div class="mid_result">
    <div class="test_header">
        <h3>По итогам этого блока теста вы набрали <span>27 баллов</span></h3>
    </div>
    <a href="">Продолжить тестирование сейчас</a>
    <a href="">Продолжить тестирование позже</a>
</div>
