<div class="test_header result">
    <h3>Поздравляем, <span>Имя Человека!</span></h3>
    <h3>По итогам теста вы набрали <span>270 баллов</span>  из 300</h3>
</div>
<div class="result_table">
    <div class="row main">
        <div class="each_td">
            <p>Стоп факторы</p>
        </div>
        <div class="each_td">
            <p>Метапрофиль</p>
        </div>
        <div class="each_td">
            <p>Предназначение</p>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container">
                <p>Стоп фактор</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Метапрофиль</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container">
                <p>Предназначение</p>
            </div>
        </div>
    </div>
</div>