
<div class="test_header">
    <h3>Текст вопроса</h3>
</div>
<div class="answers_block">
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="scenario" id="" class="real-radio-btn" value="Нужен">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>Вариант ответ 1</p>
    </div>
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="scenario" id="" class="real-radio-btn" value="Нужен">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>Вариант ответ 1</p>
    </div>
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="scenario" id="" class="real-radio-btn" value="Нужен">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>Вариант ответ 1</p>
    </div>
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="scenario" id="" class="real-radio-btn" value="Нужен">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>Вариант ответ 1</p>
    </div>
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="scenario" id="" class="real-radio-btn" value="Нужен">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>Вариант ответ 1</p>
    </div>
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="scenario" id="" class="real-radio-btn" value="Нужен">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>Вариант ответ 1</p>
    </div>
</div>
<a href="">Далее</a>