<div class="mid_result">
    <div class="test_header">
        <h3>Ваш аккаунт пока что не подтвержден нашим администратором. Обычно это занимает несколько часов.</h3>
    </div>
    <a href="/employer_login">Авторизоваться</a>
</div>
