<form action="user_login" method="post">
    <div class="input_wrapper">
        <input type="tel" placeholder="Номер телефона" name="phone_number" required>
    </div>
    <div class="input_wrapper">
        <input type="tel" placeholder="Код работодателя" name="employer_code" required>
    </div>
    <input type="submit" value="Войти">
    <a href="/user_register" class="under_form_mes">У меня нет аккаунта</a>
</form>