<form action="/user_register" method="post">
    <div class="input_wrapper">
        <input type="text" placeholder="Имя" name="user_name" required>
    </div>
    <div class="input_wrapper">
        <input type="tel" placeholder="Номер телефона" name="phone_number" required>
    </div>
    <div class="input_wrapper">
        <input type="tel" placeholder="Код работодателя" name="employer_code" required>
    </div>
    <input type="submit" value="Зарегистрироваться">
    <a href="/user_login" class="under_form_mes">У меня уже есть аккаунт</a>
</form>