@font-face {
    font-family: 'PlumbCondensed_bold';
    src: url('/static/fonts/plumbcondensed_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlumbCondensed_light';
    src: url('/static/fonts/plumbcondensed-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlumbCondensed_regular';
    src: url('/static/fonts/plumbcondensed-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes change_linear {
    0% {
        background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    }
    20% {
        background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    }
    40% {
        background: linear-gradient(90.47deg, #66E7C8 22.3%, #409FE4 54.37%);
    }
    60% {
        background: linear-gradient(90.47deg, #66E7C8 40.51%, #409FE4 66.64%);  
    }
    80% {
        background: linear-gradient(90.47deg, #66E7C8 61.49%, #409FE4 86.83%);
    }    
    100% {
        background: linear-gradient(90.47deg, #66E7C8 75.35%, #66E7C8 86.83%);
    }
}

*, body {
    margin: 0;
    padding: 0;
}

body {
    background: #0D4685;
}

.main_page {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    min-width: 800px;
}

.login_page {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    min-width: 800px;
}

.employer_cabinet_page {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    min-width: 800px;
    margin-bottom: 130px;
}

.test_page {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 130px;
    min-width: 800px;
}

.logo {
    width: 50%;
    margin: 0 auto;
    min-width: 250px;
    max-width: 400px;
    margin-bottom: 15px;
}

.progressbar_margin {
    margin-top: calc(5% - 41px);
}

.logo img {
    width: 100%;
    vertical-align: bottom;
}

.action_buttons {
    width: 100%;
}

.action_buttons a {
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
}

.action_buttons a:nth-child(2) {
    background: linear-gradient(90.4deg, #409FE4 40.02%, #66E7C8 93.2%);
}

a {
    width: 100%;
    display: block;
    font-family: "PlumbCondensed_bold";
    font-size: 30px;
    color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.main_page a {
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
}

.main_page a:nth-child(2) {
    background: linear-gradient(90.4deg, #409FE4 40.02%, #66E7C8 93.2%);
}

form {
    width: 85%;
    margin: 0 auto;
    display: block;
}

.input_wrapper {
    width: 100%;
    height: 66px;
    border-radius: 50px;
    background: linear-gradient(360deg, #409FE4 40.02%, #66E7C8 93.2%);
    margin-bottom: 20px;
}

input {
    width: calc(100% - 6px);
    border-radius: 50px;
    margin-left: 3px;
    margin-top: 3px;
    height: 60px;
    background-color: #fff;
    border: none;
    box-sizing: border-box;
    font-family: "PlumbCondensed_regular";
    color: black;
    text-align: center;
    font-size: 27px;
}

input:disabled {
    background-color: #fff;
    color: black;
    -webkit-text-fill-color: #000;
    opacity: 1;
}

input::placeholder {
    color: black;
    text-align: center;
}

input[type='submit'] {
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    border-radius: 50px;
    color: white;
    font-family: "PlumbCondensed_bold";
}

.under_form_mes {
    color: #66E7C8;
    font-family: 'PlumbCondensed_light';
    font-size: 27px;
    line-height: 27px;
    height: 27px;
    margin-top: 30px;
}

.test_list {
    width: 100%;
    border-radius: 50px;
    background: #fff;
    display: block;    
    padding-top: 5px;
    padding-bottom: 20px;
}

.test_header {
    margin-top: 5px;
}

.test_header h3 {
    width: 90%;
    margin: 0 auto;
    font-family: "PlumbCondensed_bold";
    font-size: 30px;    
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    line-height: 35px;
    color: black;
    text-align: center;
}

.real-radio-btn {
    display: none;
}

.real-radio-btn:checked + .span_wrapper .custom-radio-btn::before {
    transform: translate(-50%, -50%) scale(1);
}

.span_wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
}

.custom-radio-btn {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 50%;
    vertical-align: text-top;
}

/* Рисуем внутренний круг */
.custom-radio-btn::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    border-radius: 50%;

/* Выравниваем по центру относительно внешнего круга */
    position: absolute;
    left: 20px;
    top: 20px;
    transform: translate(-50%, -50%) scale(0);

/* Плавный переход трансформации масштабирования */
    transition: 0.2s ease-in;
}

.answers_block {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.answer_each {
    display: flex;
    height: fit-content;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.answer_each:hover {
    cursor: pointer;
}

.answer_each p {
    font-family: "PlumbCondensed_regular";
    font-size: 27px;
    line-height: 50px;
    margin-left: 15px;
}

.test_list a {
    width: 80%;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
}

.progress_bar_bg {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #66E7C8;
    border-radius: 50px;
}

.progress_bar {
    width: calc(100% - 6px);
    margin-left: 3px;
    margin-top: 0;
    height: 20px;
    background: #fff;
    border-radius: 50px;
}

.progress {
    width: 5%;
    height: 20px;
    background: #66E7C8;
    border-radius: 50px;
}

.mid_result {
    padding-top: 40px;
    padding-bottom: 50px;
}

.mid_result.bad {
    padding-top: 50px;
    padding-bottom: 50px;
}

.test_header h3 span {
    color: #0D4685;
}

.mid_result a:nth-child(3) {
    background: linear-gradient(90.4deg, #409FE4 40.02%, #66E7C8 93.2%);
}

.test_header.result {
    padding-top: 20px;
    padding-bottom: 20px;
}

.test_header.result h3{
    line-height: 33px;
}

.result_table {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.each_td {
    width: calc(98% / 3);
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    height: 66px;
    border-radius: 50px;
}

.row .each_td:nth-child(2) {
    margin-left: 1%;
    margin-right: 1%;
}

.each_td_container {
    height: 60px;
    margin-top: 3px;
    width: calc(100% - 6px);
    margin-left: 3px;
    background-color: #fff;
    border-radius: 50px;
}

.row .each_td .each_td_container p {
    font-family: "PlumbCondensed_regular";
    color: black;
    font-size: 27px;
    line-height: 60px;
    text-align: center;
    width: 100%;
}

.row.main .each_td {
    height: 70px;
}

.row.main .each_td p {
    font-family: "PlumbCondensed_bold";
    color: white;
    font-size: 27px;
    line-height: 70px;
    text-align: center;
    width: 100%;
}

.logo_wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.logo_wrapper .logo {
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
}

.logo_wrapper .logout {
    width: 30%;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    border-radius: 50px;
    height: 70px;
    margin-left: 0%;
    margin-right: 0;
}

.logo_wrapper .logout a {
    width: 100%;
    line-height: 70px;
    color: white;
    font-family: "PlumbCondensed_bold";
    font-size: 27px;
    text-align: center;  
}

.cabinet {
    width: 100%;
}

.cabinet .row {
    margin-bottom: 15px;
}

.cabinet .row .input_wrapper {
    width: 69%;
    margin-bottom: 0;
}

.cabinet .row .btns {
    width: 30%;
    margin-left: 1%;
    display: flex;
    height: 66px;
}

.cabinet .row .btns .each_btn {
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    border-radius: 50px;

}

.cabinet .row .btns .each_btn {
    width: 48%;
}

.cabinet .row .btns .each_btn.bad_result {
    width: 100%;
    margin: 0!important;
    background: linear-gradient(90.47deg, #E76666 10.82%, #E44040 44.6%);
}



.cabinet .row .btns .each_btn:nth-child(1) {
    margin-right: 4%;
}

.cabinet .row .btns .each_btn.search {
    width: 100%;
    margin-right: 0;
}

.cabinet .row .btns .each_btn img {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.cabinet .row .btns .each_btn p {
    line-height: 66px;
    font-family: "PlumbCondensed_bold";
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.test_header.employer {
    display: flex;
    padding-top: 15px;
}

.test_header.employer h3 {
    width: 68%;
    margin-right: 10%;
    padding-left: 2%;
    text-align: left;
}

.test_header.employer .back_btn {
    width: 10%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0;
    height: 70px;
}

.test_header.employer .back_btn img {
    margin-top: 15px;
}

.result_table.employer {
    margin-bottom: 0;
}

.row.main.send_res .input_wrapper {
    width: calc((98% / 3 * 2) + 1%);
    margin-right: 1%;
}

.row.main.send_res .each_td.action {
    margin-right: 0;
    margin-left: 0;
    height: 66px;
}

.row.main.send_res .each_td.action p {
    line-height: 66px;
}

.test_header.employer.admin_header h3 {
    width: 58%;
    margin-right: 20%;
    padding-left: 0;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.test_header.admin_header h3 {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    text-align: center;
    color: white;
}

.admin_form {
    width: 80%;
    margin-top: 15px;
}

.all_admins_table {
    width: 90%;
    margin: 0 auto;
}

.all_admins_table_row {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.all_admins_table_row .input_wrapper {
    width: 40%;
    margin-right: 1%;
    margin-bottom: 0;
}

.all_admins_table_row .btns {
    display: flex;
    width: 28%;
}

.all_admins_table_row .each_btn {
    width: 48%;
    background: linear-gradient(90.47deg, #66E7C8 10.82%, #409FE4 44.6%);
    margin-bottom: 0;
    border-radius: 50px;
}

.all_admins_table_row .each_btn p {
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    font-family: 'PlumbCondensed_bold';
    color: white;
}

.all_admins_table_row .each_btn:hover {
    cursor: pointer;
}

.all_admins_table_row .each_btn img {
    margin-top: 15px;
}

.test_header.employer.admin_header.all_admins {
    margin-bottom: 15px;
}

.test_header.employer.admin_header.all_admins .back_btn {
    width: 10%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0;
    height: 70px;
}

.test_header.employer.admin_header.all_admins h3 {
    width: 70%;
    margin-right: 15%;
    padding-left: 0;
    text-align: center;
    color: white;
}

.all_admins_table_row.employers_row .btns .each_btn {
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .main_page {
        min-width: auto;
        width: 90%;
        margin-top: calc(100vh / 7);
    }

    .login_page {
        min-width: auto;
        width: 90%;
        margin-top: calc(100vh / 7);
    }

    .test_page {
        min-width: auto;
        width: 90%;
        margin-top: calc(100px - 41px);
    }

    .employer_cabinet_page {
        min-width: auto;
        width: 90%;
        margin-top: 100px;
    }

    .cabinet .row.search_row {
        display: flex;
    }

    .cabinet .row.search_row .input_wrapper {
        width: 89%;
    }

    .cabinet .row.search_row .btns {
        width: 10%;
        margin-left: 1%;
        margin-top: 0;
    }

    .cabinet .row {
        display: block;
        margin-top: 30px;
    }

    .cabinet .row .input_wrapper {
        width: 100%;
    }

    .cabinet .row .btns {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .cabinet .row .btns .each_btn:nth-child(1) {
        margin-right: 2%;
    }

    .cabinet .row .btns .each_btn {
        width: 49%;
    }

    .logo_wrapper {
        display: block;
        margin-bottom: 50px;
    }

    .logo_wrapper .logo {
        margin: 0 auto;
    }

    .logo_wrapper .logout {
        margin: 0 auto;
    }

    .test_header.employer {
        display: block;
    }

    .test_header.employer .back_btn {
        width: 40%;
        margin-left: 30%;
    }

    .test_header.employer h3 {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-bottom: 30px;
        padding-left: 0;
    }

    .row.main.send_res {
        display: block;
    }

    .row.main.send_res .input_wrapper {
        width: 100%;
        margin-bottom: 10px;
    }

    .row.main.send_res .each_td.action {
        width: 100%;
    }

    .result_table {
        width: 90%;
    }

    .admin_form {
        margin-top: 0;
    }

    .all_admins_table {
        width: 80%;
    }

    .all_admins_table_row {
        display: block;
        margin-bottom: 30px;
    }

    .all_admins_table_row .input_wrapper {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }

    .all_admins_table_row .btns {
        width: 100%;
    }

    .all_admins_table_row a.each_btn {
        margin-right: 0;
    }

    .test_header.employer.admin_header.all_admins .back_btn {
        width: 40%;
        margin-left: 30%;
    }

    .all_admins_table_row a.each_btn:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        width: 80%;
    }

    a {
        font-size: 27px;
    }

    .main_page {
        margin-top: calc(100vh / 6);
    }

    form {
        width: 100%;
    }

    input {
        font-size: 25px;
    }

    .under_form_mes {
        font-size: 25px;
        margin-top: 25px;
    }

    .answers_block {
        display: block;
        width: 80%;
    }

    .answer_each {
        width: 100%;
        margin-bottom: 15px;
    }

    .span_wrapper {
        width: 40px;
        height: 40px;
    }

    .custom-radio-btn {
        width: 30px;
        height: 30px;
    }

    .custom-radio-btn::before {
        left: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
    }

    .answer_each p {
        line-height: 40px;
        font-size: 25px;
    }

    .test_header {
        margin-top: 0;
    }

    .test_header h3 {
        font-size: 27px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 30px;
    }

    .test_list a {
        width: 90%;
        font-size: 25px;
    }

    .test_header.result h3:first-child {
        padding-bottom: 5px;
    }

    .test_header.result h3:nth-child(2) {
        padding-top: 5px;
    }

    .result_table {
        overflow-x: auto;
    }

    .result_table .row {
        width: fit-content;
    }

    .result_table .row .each_td {
        width: 250px;
    }

    .test_header.result {
        padding-bottom: 10px;
    }

    .cabinet .row.search_row .input_wrapper {
        width: 78%;
    } 

    .cabinet .row.search_row .btns {
        width: 20%;
        margin-left: 2%;
    }

    .cabinet .row {
        margin-top: 25px;
    }

    .logo_wrapper .logout {
        width: 60%;
    }

    .row.main.send_res {
        width: 100%;
    }

    .test_header.employer .back_btn {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 10px;
    }

    .all_admins_table {
        width: 100%;
    }

    .admin_form {
        width: 100%;
    }

    .test_header.employer.admin_header.all_admins .back_btn {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 10px;
    }
}